<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <% if (typeof user !== 'undefined') { %>
      <section>
          <a href="/posts/new" class="link" data-link>
            <%= global.dictionary.navigation.addNewPost %>
            <%- include('../partials/icon.ejs', { name: 'pencil' }) %>
          </a>

          <% if (userPosts.length > 0) { %>
            <table class="postsTable">
              <thead>
                <tr>
                  <th><%= global.dictionary.pages.title %></th>
                  <th><%= global.dictionary.pages.body %></th>
                  <th><%= global.dictionary.pages.slug %></th>
                  <th><%= global.dictionary.pages.language %></th>
                  <th><%= global.dictionary.pages.createdAt %></th>
                  <th><%= global.dictionary.pages.updatedAt %></th>
                  <th><%= global.dictionary.pages.actions %></th>
                </tr>
              </thead>
              <tbody>
                <% userPosts.forEach(post => { %>
                  <tr>
                    <td><%= post.title %></td>
                    <td><%= post.body %></td>
                    <td><%= post.slug %></td>
                    <td class="center"><%= post.locale %></td>
                    <td class="center"><%= new Date(post.createdAt).toLocaleString(global.locale) %></td>
                    <td class="center"><%= new Date(post.updatedAt).toLocaleString(global.locale) %></td>
                    <td class="actions">
                        <span>
                            <a href="/posts/<%= post.slug %>" data-link>
                                <%- include('../partials/icon.ejs', { name: 'edit', color: '#ca8a04' }) %>
                            </a>
                            <button type="button" class="delete-post" data-id="<%= post._id.toString() %>">
                                <%- include('../partials/icon.ejs', { name: 'delete', color: '#dc2626' }) %>
                            </button>
                      </span>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          
            <div class="pagination">
              <% if (userPostsMeta.page > 1) { %>
                <a href="<%= generateUserPaginationUrl(userPostsMeta.page - 1) %>" class="link" data-link>
                  <%= global.dictionary.pages.previous %>
                </a>
              <% } else { %>
                  <span class="disabled"><%= global.dictionary.pages.previous %></span>
              <% } %>
          
              <span>
                <span><%= global.dictionary.pages.posts %>: <span id="totalUserPosts"><%= userPostsMeta.total %></span>,</span>
                <span><%= global.dictionary.pages.page %>: <%= userPostsMeta.page %> / <%= userPostsMeta.totalPages %></span>
              </span>
          
              <% if (userPostsMeta.page < userPostsMeta.totalPages) { %>
                <a href="<%= generateUserPaginationUrl(userPostsMeta.page + 1) %>" class="link" data-link>
                  <%= global.dictionary.pages.next %>
                </a>
              <% } else { %>
                 <span class="disabled"><%= global.dictionary.pages.next %></span>
              <% } %>
            </div>
          <% } %>
      </section>
    <% } %>

    <div class="posts">
        <form id="form-filter" action="/posts" method="get" class="filter-form">
            <div>
                <h4><%= global.dictionary.form.search %></h4>
                <input
                  type="text"
                  name="search"
                  placeholder="<%= global.dictionary.form.searchPosts %>"
                  value="<%= querySearch || '' %>"
                />
            </div>

            <div class="categoryList">
                <% function renderCategories(categories) { %>
                  <% categories.forEach(category => { %>
                      <li>
                        <label>
                          <input
                            type="checkbox"
                            name="categories"
                            value="<%= category._id.toString() %>"
                            <% if (queryCategories.includes(category._id.toString())) { %> checked <% } %>
                          >
                          <%= category.name %>
                        </label>
                        <% if (category.subcategories && category.subcategories.length > 0) { %>
                          <ul>
                            <%= renderCategories(category.subcategories) %>
                          </ul>
                        <% } %>
                      </li>
                  <% }); %>
                <% } %>
                
                <% categories.forEach(localeGroup => { %>
                  <h4><%= global.dictionary.form.categories %> (<%= global.dictionary.categories[localeGroup.locale] %>)</h4>
                  <ul>
                    <%= renderCategories(localeGroup.records) %>
                  </ul>
                <% }); %>
            </div>

            <div>
              <h4><%= global.dictionary.form.languages %></h4>
              <% locales.forEach(locale => { %>
                <label>
                  <input
                    type="checkbox"
                    name="locales"
                    value="<%= locale %>"
                    <% if ((queryLocales || []).includes(locale)) { %> checked <% } %>
                  />
                  <%= global.dictionary.categories[locale] %>
                </label>
              <% }); %>
            </div>

            <div>
              <h4><%= global.dictionary.form.authors %></h4>
              <select name="author">
                <option value=""><%= global.dictionary.form.anyAuthors %></option>
                <% authors.forEach(author => { %>
                  <option value="<%= author._id.toString() %>" <% if (author._id.toString() === queryAuthor) { %> selected <% } %>>
                      <%= author.authorDetails.name %> (<%= author.postCount %>)
                  </option>
                <% }); %>
              </select>
            </div>

            <div>
              <h4><%= global.dictionary.form.sortBy %></h4>
              <select name="sort">
                <option value="createdAt" <% if (querySortBy === 'createdAt') { %> selected <% } %>>
                    <%= global.dictionary.form.dateCreated %>
                </option>
                <option value="title" <% if (querySortBy === 'title') { %> selected <% } %>>
                    <%= global.dictionary.form.title %>
                </option>
                <option value="updatedAt" <% if (querySortBy === 'updatedAt') { %> selected <% } %>>
                    <%= global.dictionary.form.lastUpdated %>
                </option>
              </select>
            </div>

            <div>
              <h4><%= global.dictionary.form.orderBy %></h4>
              <select name="order">
                <option value="asc" <% if (queryOrderBy === 'asc') { %> selected <% } %>>
                    <%= global.dictionary.form.ascending %>
                </option>
                <option value="desc" <% if (queryOrderBy === 'desc') { %> selected <% } %>>
                    <%= global.dictionary.form.descending %>
                </option>
              </select>
            </div>
            
            <div>
              <h4><%= global.dictionary.form.perPage %></h4>
              <select name="perpage">
                  <option value="12" <% if (queryPerPage === '12') { %> selected <% } %>>12</option>
                  <option value="24" <% if (queryPerPage === '24') { %> selected <% } %>>24</option>
                  <option value="36" <% if (queryPerPage === '36') { %> selected <% } %>>36</option>
              </select>
            </div>

            <div>
              <button type="submit"><%= global.dictionary.form.submit %></button>
            </div>
        </form>

        <div class="content">
            <h2><%= global.dictionary.pages.posts %></h2>

            <% if (posts.length === 0) { %>
              <p><%= global.dictionary.messages.notFound %></p>
            <% } else { %>               
              <div class="postsList">
                <% posts.forEach(post => { %>
                  <a href="/posts/<%= post.slug %>" class="post" data-link>
                    <%- include('../partials/image.ejs', { post, thumb: false }) %>
                    <div>
                      <h3><%= post.title %></h3>
                      <div class="meta">
                        <span>
                          <%- include('../partials/icon.ejs', { name: 'user' }) %>
                          <%= post.author.name %>
                        </span> 
                        <span>
                          <%- include('../partials/icon.ejs', { name: 'calendar' }) %>
                          <%= post.createdAt.toLocaleDateString(global.locale) %>
                        </span>
                      </div>
                    </div>
                  </a>
                <% }); %>
              </div>

              <div class="pagination">
                <% if (postsMeta.page > 1) { %>
                  <a href="<%= generatePaginationUrl(postsMeta.page - 1) %>" class="link" data-link>
                    <%= global.dictionary.pages.previous %>
                  </a>
                <% } else { %>
                    <span class="disabled"><%= global.dictionary.pages.previous %></span>
                <% } %>

                <span>
                  <span><%= global.dictionary.pages.posts %>: <%= postsMeta.total %>,</span>
                  <span><%= global.dictionary.pages.page %>: <%= postsMeta.page %> / <%= postsMeta.totalPages %></span>
                </span>

                <% if (postsMeta.page < postsMeta.totalPages) { %>
                  <a href="<%= generatePaginationUrl(postsMeta.page + 1) %>" class="link" data-link>
                    <%= global.dictionary.pages.next %>
                  </a>
                <% } else { %>
                    <span class="disabled"><%= global.dictionary.pages.next %></span>
                <% } %>
              </div>
            <% } %>
        </div>
    </div>
</main>
