<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h2><%= global.dictionary.pages.newPost %></h2>

    <form id="form"
        action="/posts/new"
        method="post"
        enctype="multipart/form-data"
        data-form="editor"
        class="post-form"
    >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
            <label for="title"><%= global.dictionary.form.title %></label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="body"><%= global.dictionary.form.body %></label>
            <textarea name="body"></textarea>
        </div>
        <div>
            <label><%= global.dictionary.form.categories %></label>
            <div id="categories-select">
                <div id="categories-selected-list"></div>
                <input
                    type="text"
                    id="categories-input"
                    placeholder="<%= global.dictionary.form.selectCategories %>"
                    autocomplete="off"
                >
                <div id="categories-dropdown" class="dropdown">
                    <% categories.forEach(category => { %>
                        <span class="dropdown-item" data-id="<%= category._id.toString() %>">
                            <%= category.name %>
                        </span>
                    <% }) %>
                </div>
                
            </div>
        </div>
        <div>
            <button type="submit"><%= global.dictionary.form.submit %></button>
        </div>
    </form>
</main>
