<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h1 data-title="<%= post.title %>"><%= post.title %></h1>

    <% if (isAuthor) { %>
        <form id="form"
        action="/posts/edit/<%= post._id %>"
        method="post"
        enctype="multipart/form-data"
        data-form="editor"
        class="post-form"
    >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
            <label for="title"><%= global.dictionary.form.title %></label>
            <input type="text" name="title" value="<%= post.title %>">
        </div>
        <div>
            <label for="body"><%= global.dictionary.form.body %></label>
            <textarea name="body"><%= post.body %></textarea>
        </div>
        <div>
            <label><%= global.dictionary.form.categories %></label>
            <div id="categories-select">
                <div id="categories-selected-list">
                    <% if (post.categories && post.categories.length > 0) { %>
                        <% post.categories.forEach(cat => { %>
                            <% const category = categories.find(c => c._id.toString() === cat._id.toString()); %>
                            <% if (category) { %>
                                <span class="selected-category" data-id="<%= category._id %>">
                                    <%= category.name %>
                                    <input type="hidden" name="categories[]" value="<%= category._id %>" />
                                    <button type="button" class="remove-category" data-id="<%= category._id %>">
                                        &times;
                                    </button>
                                </span>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>
                <input
                    type="text"
                    id="categories-input"
                    placeholder="<%= global.dictionary.form.selectCategories %>"
                    autocomplete="off"
                >
                <div id="categories-dropdown" class="dropdown">
                    <% categories.forEach(category => { %>
                        <% if (!post.categories.some(postCat => postCat._id.toString() === category._id.toString())) { %>
                            <span class="dropdown-item" data-id="<%= category._id.toString() %>">
                                <%= category.name %>
                            </span>                         
                        <% } %>
                    <% }) %>
                </div>                
            </div>
        </div>
        <div>
            <button type="submit"><%= global.dictionary.form.submit %></button>
        </div>
    </form>
    <% } else { %>
        <div class="post">
            <article><%- article %></article>
            <aside>
                <div>
                    <label><%= global.dictionary.pages.author %></label>
                    <p class="author"><%= post.author.name %></p>                    
                </div>
                <div>
                    <label><%= global.dictionary.pages.published %></label>
                    <p class="author"><%= post.createdAt.toLocaleDateString(global.locale) %></p>                    
                </div>
                <% if (post.categories.length > 0) { %>
                    <div>
                        <label><%= global.dictionary.pages.categories %></label>
                        <p class="categories">
                            <% post.categories.forEach(category => { %>
                                <span><%= category.name %></span>
                            <% }) %>
                        </p>
                    </div>
                <% } %>
            </aside>
        </div>
    <% } %>
</main>
