<header>
    <nav class="container">
        <a href="/" class="logo" data-link>
            <%- include('./icon.ejs', { name: 'logo', size: 1.5 }) %>
            <span><%= global.dictionary.pages.helloE %></span>
        </a>
        <button id="hamburger">
            <%- include('./icon.ejs', { name: 'hamburger', size: 1.5 }) %>
        </button>
        <ul class="navigation">
            <li><a href="/" class="link" data-link><%= global.dictionary.navigation.home %></a></li>
            <li><a href="/posts" class="link" data-link><%= global.dictionary.navigation.posts %></a></li>
            <% if (typeof user === 'undefined') { %>
                <li><a href="/auth/register" class="link" data-link><%= global.dictionary.navigation.register %></a></li>
                <li><a href="/auth/login" class="link" data-link><%= global.dictionary.navigation.login %></a></i> 
            <% } else { %>
                <li><a href="/profile" class="link" data-link><%= global.dictionary.navigation.profile %></a></li>
                <% if (user.role === 'admin') { %>
                    <li><a href="/admin" class="link" data-link><%= global.dictionary.navigation.admin %></a></li>
                <% } %>
                <li>
                    <form id="form-logout" action="/auth/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="link"><%= global.dictionary.navigation.logout %></button>
                    </form>
                </li>
            <% } %>
            <li>
                <button id="enable-light-mode" class="color-mode-button light-mode-hidden">
                    <%- include('./icon.ejs', { name: 'sun' }) %>
                </button>
                <button id="enable-dark-mode" class="color-mode-button dark-mode-hidden">
                    <%- include('./icon.ejs', { name: 'moon' }) %>
                </button>
            </li>
        </ul>
    </nav>
</header>

<div id="header-overlay"></div>
