<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h1><%= global.dictionary.pages.profile %></h1>

    <section>
        <h2><%= global.dictionary.pages.account %></h2>
    </section>
   
    <section>
        <h2><%= global.dictionary.pages.passwordChange %></h2>
    </section>
</main>
