<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h1><%= global.dictionary.pages.admin %></h1>

    <section>
        <h2><%= global.dictionary.categories.categories %></h2>
        <div id="categories">
            <% if (categories.length > 0) { %>
                <% function renderCategories(categories) { %>
                    <%
                        const sordedCategories = categories.slice().sort((a,b) => {
                            if (a.order !== b.order) {
                                return a.order - b.order;
                            }
                            return a.name.localeCompare(b.name);
                        });
                    %>
                    <ul>
                        <% sordedCategories.forEach(function(category) { %>
                            <li id="<%= category.id %>">
                                <input type="text" value="<%= category.name %>">
                                <select class="category-locale">
                                    <% locales.forEach(locale => { %>
                                        <option value="<%= locale %>"
                                            <%= category.locale === locale ? 'selected' : '' %>
                                        >
                                            <%= global.dictionary.categories[locale] %>
                                        </option>
                                    <% }) %>
                                </select>
                                <div class="buttons-group"></div>

                                <% if (category.children && category.children.length > 0) { %>
                                    <% renderCategories(category.children); %>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>

                <% renderCategories(categories); %>
            <% } else { %>
                <button id="add-first"><%= global.dictionary.categories.addFirst %></button>
            <% } %>
        </div>
    </section>

    <section>
        <h2><%= global.dictionary.pages.posts %></h2>

        <% if (posts.length > 0) { %>
            <table class="adminPostsTable">
              <thead>
                <tr>
                  <th><%= global.dictionary.pages.title %></th>
                  <th><%= global.dictionary.pages.body %></th>
                  <th><%= global.dictionary.pages.slug %></th>
                  <th><%= global.dictionary.pages.author %></th>
                  <th><%= global.dictionary.pages.language %></th>
                  <th><%= global.dictionary.pages.createdAt %></th>
                  <th><%= global.dictionary.pages.updatedAt %></th>
                  <th><%= global.dictionary.pages.actions %></th>
                </tr>
              </thead>
              <tbody>
                <% posts.forEach(post => { %>
                  <tr>
                    <td><%= post.title %></td>
                    <td><%= post.body %></td>
                    <td><%= post.slug %></td>
                    <td class="center"><%= post.author.name %></td>
                    <td class="center"><%= post.locale %></td>
                    <td class="center"><%= new Date(post.createdAt).toLocaleString(global.locale) %></td>
                    <td class="center"><%= new Date(post.updatedAt).toLocaleString(global.locale) %></td>
                    <td class="actions">
                        <span>
                            <button type="button" class="delete-post" data-id="<%= post._id.toString() %>">
                                <%- include('../partials/icon.ejs', { name: 'delete', color: '#dc2626' }) %>
                            </button>
                      </span>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          
            <div class="pagination">
              <% if (postsMeta.page > 1) { %>
                <a href="<%= generatePaginationUrl(postsMeta.page - 1) %>" class="link" data-link>
                  <%= global.dictionary.pages.previous %>
                </a>
              <% } else { %>
                  <span class="disabled"><%= global.dictionary.pages.previous %></span>
              <% } %>
          
              <span>
                <span><%= global.dictionary.pages.posts %>: <span id="totalUserPosts"><%= postsMeta.total %></span>,</span>
                <span><%= global.dictionary.pages.page %>: <%= postsMeta.page %> / <%= postsMeta.totalPages %></span>
              </span>
          
              <% if (postsMeta.page < postsMeta.totalPages) { %>
                <a href="<%= generatePaginationUrl(postsMeta.page + 1) %>" class="link" data-link>
                  <%= global.dictionary.pages.next %>
                </a>
              <% } else { %>
                 <span class="disabled"><%= global.dictionary.pages.next %></span>
              <% } %>
            </div>
          <% } %>
    </section>
</main>
