<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h1><%= global.dictionary.pages.admin %></h1>

    <section>
        <h2><%= global.dictionary.categories.categories %></h2>
        <div id="categories">
            <% if (categories.length > 0) { %>
                <% function renderCategories(categories) { %>
                    <%
                        const sordedCategories = categories.slice().sort((a,b) => {
                            if (a.order !== b.order) {
                                return a.order - b.order;
                            }
                            return a.name.localeCompare(b.name);
                        });
                    %>
                    <ul>
                        <% sordedCategories.forEach(function(category) { %>
                            <li id="<%= category.id %>">
                                <input type="text" value="<%= category.name %>">
                                <div class="buttons-group"></div>

                                <% if (category.children && category.children.length > 0) { %>
                                    <% renderCategories(category.children); %>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>

                <% renderCategories(categories); %>
            <% } else { %>
                <button id="add-first"><%= global.dictionary.categories.addFirst %></button>
            <% } %>
        </div>
    </section>
</main>
