<%- include('../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
    <h1><%= global.dictionary.pages.register %></h1>

    <form id="form" action="/auth/register" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div>
            <label for="email"><%= global.dictionary.form.email %></label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="name"><%= global.dictionary.form.name %></label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="password"><%= global.dictionary.form.password %></label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="passwordConfirmation"><%= global.dictionary.form.passwordConfirmation %></label>
            <input type="password" name="passwordConfirmation">
        </div>
        <div>
            <button type="submit"><%= global.dictionary.form.submit %></button>
        </div>
    </form>
</main>
